.navbar-wrapper {
    height: 80px;
    width: 100vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../assets/navbar-bg.jpg');
    background-size: cover;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    padding: 0 45px;
    font-style: italic;
    background: linear-gradient(-45deg, #b7ffb7, #94ff94);
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;

    /* background-image: linear-gradient(60deg, #288528, #134313);
    background-clip: text;
    color: transparent; */
    cursor: pointer;
}

.links-list > a {
    padding: 10px;
    text-decoration: none;
    color: #f3f3f3;
}

.search-wrapper > input {
    padding: 7px;
    width: 400px;
    color: #f3f3f3;
    border: none;
    outline: none;
    font-size: 16px;
    background: #444;
    background: rgba(0,0,0,.2);
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
}

.search-wrapper > button {
    padding: 7px;
    font-size: 16px;
    color: #f3f3f3;
    background: transparent;
    border: 1px solid #fff;
    border-left: none;
    border-radius: 0 3px 3px 0;
    &:hover {
        background: #fff;
        color:#444;
      }
      &:active {
        box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
      }
      &:focus {
        outline: 0;
      }
}