.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player {
    height: 97vh;
    width: 97vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}