.container {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player {
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}